body.stream-view #combat-popout, body.stream-view #chat-popout {
	min-height: 0;
}

.stream-view-speech-bubble {
	position: absolute;
	font-size: 32px;
	color: rgba(255, 255, 255, 0.87);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.78);
}